/* Footer */
.footer {
    background-color: #8A8070;
    display:flex;
    justify-content: space-around;
    font-size: 2.5rem;
    margin-top: 10rem;
    font-family: 'Roboto Slab';
}


/*import divers et variés*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

/*nav d'inscription et de connexion*/
nav{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 2rem 0;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: #8A8070;
    z-index: 1;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

nav li{
    text-align: center;
    font-size: 2rem;
    padding: 0 2rem;
}


/* l'input de recherche */
.searchContainer{
    display: flex;
    flex: 1;
    padding-left: 2rem;
}

.searchContainer input{
    padding: 0.5rem;
    border-radius: 1px;
}

.searchContainer button{
    margin: 0;
    height: 3.3rem;
    width: 2%;
    align-items: center;
}


nav a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}
label{
    display: none;
}
label, #toggle
{
    display: none;
}



/*CSS Card d'accueil*/
.cardShop {
    display: flex;
    justify-content: space-around;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30 px;
    cursor: default;
    /* background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center; */
}

.card {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 480px;
    border-radius: 2px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    /* display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center; */
    margin: 20px;
    background:-webkit-linear-gradient(top, #6D3F2C, #100F12);
}

.img.container {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    height: auto;
    max-width: 100%;
    transform: translateZ(50px);
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.category {
    transform: translateZ(30px);
    font-weight: bolder;
    font-size: 24px;
    align-self: start;
}

.category .sub-head {
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 1.5px;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto Slab';
}

.description {
    transform: translateZ(25px);
    text-align: justify;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    color:white;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto Slab';
}

.card-link {
    text-decoration: none;
    border: 0;
    outline: 0;
    border: 2px solid red;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: 0;
    padding: 16px;
    border-radius: 1px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
    font-size: 20px;
    font-weight: medium;
    color: #6D3F2C;
    background-color: white;
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto Slab';
}


.read-more:hover {
    cursor: pointer;
}

.js-tilt-glare {
    pointer-events: none;
}





/*Media Queries */


@media all and (max-width: 991px){
   label 
   {
       width: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       font-size:50px;
       color: white;
       cursor: pointer;
   }
   nav .close-btn{
       display: none;
       background: #48435C;
       height: 60px;
    align-items: center;
    margin: 0;
    text-align: center;
    font-size: 0.3rem;
    padding: 0 2rem;
   }

   nav .close-btn li {
    font-size: 1.7rem;
   }

   nav
   {
       height: 60px;
   }
   #toggle:checked + .close-btn {
       display: flex;
   }

   .searchContainer button{
       display: none;
   }

   .cardShop{
       display:block;
   }





}